@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply m-0 p-0 border-0 outline-none box-border list-none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-texture bg-clr-bg text-clr-white font-poppins leading-relaxed;
}
